gensim==3.8.3
konlpy
pyodf
kiwipiepy
sacremoses
dill==0.3.6
nltk
numpy
datasets
chardet=3.0.4
certifi==2020.12.5
click==7.1.2
filelock==3.0.12
flask==1.1.2
fsspec==0.8.5
huggingface-hub==0.0.2
idna==2.10
importlib-metadata==3.4.0
itsdangerous==1.1.0
jinja2==2.11.2
joblib==1.0.1
markupsafe==1.1.1
multiprocess==0.70.11.1
packaging==20.9
pandas==1.2.2
portalocker==2.2.1
protobuf==3.13.0
pyarrow==3.0.0
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2021.1
regex==2020.11.13
requests==2.25.1
sacrebleu==1.5.0
sentencepiece==0.1.94
tokenizers==0.10.1
torch==1.7.1
tqdm==4.49.0
transformers==4.4.0
urllib3==1.26.3
werkzeug==1.0.1
xxhash==2.0.0
zipp==3.4.0
